.wrapper {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 100px 1fr;

  grid-template-areas: 
  "header header"
  "navbar profile"
  ;
}

.header {
  grid-area: header;
  background-color: blueviolet;
}

.header img {
  width: 50px;
}

.navbar {
  grid-area: navbar;
  background-color: burlywood;
}

.profile {
  grid-area: profile;
  background-color: cadetblue;
}

.img img {
  width: 100%;
}